<div class="reviews-container">
    <h2>Reviews</h2>
    <ul class="reviews">
        <li>
            <a href="https://www.yelp.com/biz/individual-tax-service-oak-lawn?hrid=5q_8VRNPbI8D91xbTfWJ_A&utm_campaign=www_review_share_popup&utm_medium=copy_link&utm_source=(direct)" class="review-link">
                <ul class="review-stars">
                    <li><img src="/img/star.svg" class="star" /></li>
                    <li><img src="/img/star.svg" class="star" /></li>
                    <li><img src="/img/star.svg" class="star" /></li>
                    <li><img src="/img/star.svg" class="star" /></li>
                    <li><img src="/img/star.svg" class="star" /></li>
                </ul>
                <p class="review-body">&ldquo;I had tried to complete my taxes myself. I found an error after I sent them in. These guys were awesome. They helped me figure out my mistake and were professional and human all through the process. I will be back next year, and the year after that, and so on. They have been in my neighborhood for many years, and now I know why. Very good people.&rdquo;</p>
            </a>
        </li>
        <li>
            <a href="https://www.yelp.com/biz/individual-tax-service-oak-lawn?hrid=jUG8Dpb3EYTxItGT9YRAOw&utm_campaign=www_review_share_popup&utm_medium=copy_link&utm_source=(direct)" class="review-link">
                <ul class="review-stars">
                    <li><img src="/img/star.svg" class="star" /></li>
                    <li><img src="/img/star.svg" class="star" /></li>
                    <li><img src="/img/star.svg" class="star" /></li>
                    <li><img src="/img/star.svg" class="star" /></li>
                    <li><img src="/img/star.svg" class="star" /></li>
                </ul>
                <p class="review-body">&ldquo;I live on the far northwest side of Chicago and travel over 20 miles to have my taxes prepared by Hank . This business gives you the peace of mind that your taxes are being prepared accurately and correctly.&rdquo;</p>
            </a>
        </li>
        <li>
            <a href="https://g.co/kgs/rLsZ9V" class="review-link">
                <ul class="review-stars">
                    <li><img src="/img/star.svg" class="star" /></li>
                    <li><img src="/img/star.svg" class="star" /></li>
                    <li><img src="/img/star.svg" class="star" /></li>
                    <li><img src="/img/star.svg" class="star" /></li>
                    <li><img src="/img/star.svg" class="star" /></li>
                </ul>
                <p class="review-body">&ldquo;My wife and I have had Individual Tax Services prepare our tax returns the past 2 years. Deb and Hank do a wonderful job. They're friendly, knowledgeable, efficient, and are passionate about their job. If you live near the Oak Lawn area, you'd be hard-pressed to find a business better than Individual Tax Services. Call now because their calendar fills up quickly.&rdquo;</p>
            </a>
        </li>
    </ul>
</div>
