<header class="site-header">
    <div class="wrapper">
        <div class="logo"></div>
        <nav class="site-nav">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/prices/">Prices</a></li>
                <li><a href="/appointments/">Appointments</a></li>
                <li><a href="/about/">About</a></li>
                <li><a href="/contact/">Contact</a></li>
                <li><a href="//" class="button secondary-cta">Check My Return</a></li>
                <li>{% include btn-appointment.html %}</li>
            </ul>
        </nav>
    </div>
</header>