<header id="site-header">
    <div class="wrapper">
        <a class="logo">
            <img src="" alt="Individual Tax Service Logo" />
        </a>
        <input type="checkbox" id="smallscreen-menu-checkbox" name="smallscreen-menu-checkbox">
        <label for="smallscreen-menu-checkbox" class="smallscreen-menu-toggle">Menu</label>
        <nav id="site-nav">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/prices/">Prices</a></li>
                <li><a href="/appointments/">Appointments</a></li>
                <li><a href="/about/">About</a></li>
                <li><a href="/contact/">Contact</a></li>
                <li><a href="https://" class="button secondary-cta">Check My Return</a></li>
                <li>{% include btn-appointment.html %}</li>
            </ul>
        </nav>
    </div>
</header>
