<footer class="site-footer">
    <div class="wrapper">
        <p>&copy; <span id="currentYear">2021</span> Individual Taxservice</p>
        <p>Phone: {{ site.itsPhone }}<br>
            Email: <a href="{{ site.itsEmail | escape_once }}">Hank Gory</a>
        </p>
        <p>{{ site.itsStreet }}<br>
        {{ site.itsCity }}, {{ site.itsState }} {{ site.itsZip }}</p>
    </div>
</footer>

<script>
    // change the year of the copyright to the current year
    document.addEventListener("DOMContentLoaded", function() {
        let now = new Date(),
            year = now.getFullYear();

        console.log(year);
        document.getElementById("currentYear").innerHTML = year;
    });
</script>