<!doctype html>
<html lang="en" class="no-js">

<head>
    <meta charset="utf-8">
    {% if page.title == "Home" %}
    <title>{{ site.aloneTitle }}</title>
    {% else %}
    <title>{{ page.title }}{{ site.title }}</title>
    {% endif %}
    <meta name="description" content="{{ site.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="{{ page.title }}{{ site.title }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ site.url }}{{ page.url }}">
    <meta property="og:image" content="">

    <!--
    <link rel="manifest" href="site.webmanifest">
    <link rel="apple-touch-icon" href="icon.png">-->
    <!-- Place favicon.ico in the root directory -->
    <link rel="preconnect" href="https://fonts.gstatic.com"> 
    <link href="https://fonts.googleapis.com/css2?family=Calistoga&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">

    <!--
    <meta name="theme-color" content="#fafafa">
    -->
</head>

<body class="{{ page.class | downcase }}">

    <div class="hero">
        {% include siteheader.html %} 

        {% if page.title == "Home" %}
        <div class="home-cta">
            <h1>Get Your Refund!</h1>
            {% include btn-appointment.html %}
        </div>
        {% else %}
        <h1>{{ page.title }}</h1>
        {% endif %}
    </div>
    
    <main>
        {{ content }}
    </main>

    {% include sitefooter.html %}

    <script src="/js/app.js"></script>

    {% include analytics.html %}

</body>

</html>